/dts-v1/;
/include/ "sdm845.dtsi"
/include/ "tama-common.dtsi"

 / {
     model = "Sony Xperia XZ2 Compact (Apollo)";
     compatible = "sony,apollo", "qcom,sdm845";
 };

 &soc {
     chosen {
         bootargs = "console=ttyMSM0,115200n8";
     };
 };

 /* Display */
 &mdss_dsi {
     panel@0 {
         compatible = "sony,apollo-panel";
         reg = <0>;
         status = "okay";
     };
 };

 /* Audio */
 &sound {
     compatible = "qcom,wcd9340";
     status = "okay";
 };

 /* Touchscreen */
 &i2c1 {
     synaptics_ts@20 {
         compatible = "synaptics,s3320";
         reg = <0x20>;
         interrupt-parent = <&tlmm>;
         interrupts = <45 IRQ_TYPE_EDGE_FALLING>;
         status = "okay";
     };
 };

 /* Camera */
 &camss {
     imx400@1a {
         compatible = "sony,imx400";
         reg = <0x1a>;
         status = "okay";
     };
 };
